<link rel="stylesheet" href="../../static/styles/base.css"/>
<header>
    <div id="title">
        <a href="/" class="nolink">CaterSmart</a>
    </div>
    <div class="navbar">
        <a class="navbutton" href="/clients">Clients</a>
        <a class="navbutton" href="/employees">Employees</a>
        <a class="navbutton" href="/events">Events</a>
        <a class="navbutton" href="/menus">Menus</a>
        <a class="navbutton" href="/items">Items</a>
        <a class="navbutton" href="/ingredients">Ingredients</a>
    </div>
</header>