<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Clients</h1>
    <nav>
        [ <a href="/">HOME</a> |
        <a href="/clients">Clients</a> |
        <a href="/employees">Employees</a> |
        <a href="/assigned_caterers">Assigned Caterers</a> |
        <a href="/events">Events</a> |
        <a href="/menus">Menus</a> |
        <a href="/items">Items</a> |
        <a href="/item_ingredients">Item Ingredients</a> |
        <a href="/ingredients">Ingredients</a> ]
    </nav>

    <!-- Flash Message Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.client_id }}</td>
                <td>{{ row.client_name }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--The "name" fields in the input tags tie the input form to Flask-->
    <h3>Add New Client</h3>
    <form id="client-form" style="border: 2px solid black;" method="POST">
        <label>Client Name: <input type="text" name="client_name" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Phone: <input type="tel" name="phone_number" required></label><br>
        <button type="submit">Add Client</button><br>
    </form>


    <script src="index.js"></script>
  </body>
</html>