<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clients</title>
    <link rel="stylesheet" href="../static/styles/client.css">
    <script src="../static/script.js"></script>
  </head>
  <body>
    <div class= content>
    <h1>Clients</h1>
    <!-- Flash Message Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="entrylist" id="mainlist">
        <div class="list-element client-list-element">
            <div>Jinkies Floofer</div>
            <div>jfloof@hotmail.com</div>
            <div>800-588-2300</div>
            <div class="editbutton unselectable" title="Edit
(⇧ Shift + Click to Delete)"><span class="material-symbols-outlined">
                        edit
                    </span></div>
        </div>
    </div>


    

    <!--The "name" fields in the input tags tie the input form to Flask-->
    <h3>Add New Client</h3>
    <form id="client-form" style="border: 2px solid black;">
        <label class="g-name">Client Name: <input type="text" id="name" required></label>
        <label class="g-email">Email: <input type="email" id="email" required></label>
        <label class="g-phone">Phone: <input type="tel" id="phone" required></label>
        <button type="button" onclick="addClient()" class="g-submit">Add Client</button>
    </form>


    <script src="index.js"></script>
    </div>
  </body>
</html>