<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Import Material Design Icons from Google's servers -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=delete,directions_car,edit,local_bar,no_drinks,no_meals,restaurant" />
    <script src="../static/script.js"></script>
</head>

<body>

    <div class="content">
        <div class="entrylist" id="mainlist">

            <div class="list-element employee-list-element" id="employee_id-X">
                <div id="first_name-X">Jeb Jab</div>

                <div>4 / 7 / 1995</div>
                <div class="iconbox unselectable" title="Has a driver's license">
                    <span class="material-symbols-outlined">
                        directions_car
                    </span>
                </div>

                <div class="iconbox unselectable" title="Has food certification">
                    <span class="material-symbols-outlined">
                        restaurant
                    </span>
                </div>

                <div class="iconbox unselectable" title="Has alcohol certification">
                    <span class="material-symbols-outlined">
                        local_bar
                    </span>
                </div>

                <div class="editbutton unselectable" title="Edit
(⇧ Shift + Click to Delete)"><span class="material-symbols-outlined">
                        edit
                    </span></div>
            </div>

        </div>

        <button> + Add New </button>

        <div class="editpane" id="editpane">
            <h3>Add New Employee</h3>
            <form id="employee-form" style="border: 2px solid rgb(240, 240, 240);">
                <label style="grid-area:fname;">First Name: <input type="text" required></label>
                <label style="grid-area:lname;">Last Name: <input type="text" required></label>
                <label style="grid-area:dob;">Birthdate: <input type="date" required></label>
                <label style="grid-area:driver;">Drivers' License:
                    <input type="checkbox">
                </label>
                <label style="grid-area:food;">Food Certification:
                    <input type="checkbox"><span class="check"></span>
                </label>
                <label style="grid-area:alcohol;">Alcohol Certification:
                    <input type="checkbox">
                </label>
                <button type="submit" style="grid-area:submit;">Add Employee</button>
            </form>


            <div id="noneselected">
                <p>Select an employee to edit or press "+ Add New"</p>
            </div>
        </div>
    </div>
</body>

</html>