<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=delete,directions_car,edit,local_bar,no_drinks,no_meals,restaurant" />
    <script src="../static/script.js"></script>
</head>

<body>

    <div class="content">
        <div class="entrylist" id="mainlist">
            
            <div class="list-element">
                <div>Jeb Jab</div>
                <div class="iconbox unselectable" title="Has a driver's license">
                    <span class="material-symbols-outlined">
                        directions_car
                    </span>
                </div>

                <div class="iconbox unselectable" title="Has food certification">
                    <span class="material-symbols-outlined">
                        restaurant
                    </span>
                </div>

                <div class="iconbox unselectable" title="Has alcohol certification">
                    <span class="material-symbols-outlined">
                        local_bar
                    </span>
                </div>

                <div class="editbutton unselectable" title="Edit
(⇧ Shift + Click to Delete)"><span class="material-symbols-outlined">
                        edit
                    </span></div>
            </div>

        </div>

        <button> + Add New </button>
        <h3>Add New Employee</h3>
        <form id="employee-form" style="border: 2px solid black;">
            <label>First Name: <input type="text" required></label><br>
            <label>Last Name: <input type="text" required></label><br>
            <label>Birthdate: <input type="date" required></label><br>
            <label>Drivers' License:
                <select required>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </label><br>
            <label>Alcohol Certification:
                <select required>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </label><br>
            <label>Food Certification:
                <select required>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </label><br>
            <button type="submit">Add Employee</button><br>
        </form>
    </div>
</body>

</html>