<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingredients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Ingredients</h1>
    <nav>
        [ <a href="/">HOME</a> |
        <a href="/clients">Clients</a> |
        <a href="/employees">Employees</a> |
        <a href="/assigned_caterers">Assigned Caterers</a> |
        <a href="/events">Events</a> |
        <a href="/menus">Menus</a> |
        <a href="/items">Items</a> |
        <a href="/item_ingredients">Item Ingredients</a> |
        <a href="/ingredients">Ingredients</a> ]
    </nav>

    <table border="1">
        <thead>
            <tr>
                <th>Ingredient ID</th>
                <th>Ingredient Name</th>
                <th>Ingredient Quantity (in stock)</th>
                <th>Unit</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.ingredient_id }}</td>
                <td>{{ row.ingredient_name }}</td>
                <td>{{ row.ingredient_qty }}</td>
                <td>{{ row.unit }}</td>
                <td>{{ row.unit_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add New Ingredient</h3>
    <form id="ingredient-form" style="border: 2px solid black;">
        <label>Ingredient Name: <input type="text" required></label><br>
        <label>Ingredient Quantity (in stock): <input type="number" step="0.1"></label><br>
        <label>Unit: <input type="text" required></label><br>
        <label>Unit Price: <input type="number" step="0.01" required></label><br>
        <button type="submit">Add Ingredient</button><br>
    </form>
  </body>
</html>
