<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Items</h1>
    <nav>
        [ <a href="/">HOME</a> |
        <a href="/clients">Clients</a> |
        <a href="/employees">Employees</a> |
        <a href="/assigned_caterers">Assigned Caterers</a> |
        <a href="/events">Events</a> |
        <a href="/menus">Menus</a> |
        <a href="/items">Items</a> |
        <a href="/item_ingredients">Item Ingredients</a> |
        <a href="/ingredients">Ingredients</a> ]
    </nav>

    <table border="1">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Menu ID</th>
                <th>Menu Name</th>
                <th>Price</th>
                <th>Alcoholic</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.item_id }}</td>
                <td>{{ row.item_name }}</td>
                <td>{{ row.menu_id }}</td>
                <td>{{ row.menu_name }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.is_alcoholic }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add New Item</h3>
    <form id="item-form" style="border: 2px solid black;" method="POST">
        <!-- <label>Menu ID: <input type="number" required></label><br> -->
        <label>Menu: 
            <select name="menu_id" id="menu_id">
                <option value="NULL">None</option>
                {% for entry in menu %}
                <option value="{{ entry.menu_id }}">{{ entry.idname }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>Item Name: <input type="text" name="item_name" required></label><br>
        <label>Price: <input name= "price" type="number" step="0.01" required></label><br>
        <label>Alcoholic:
            <select required name="is_alcoholic">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
        </label><br>
        <button type="submit">Add Item</button><br>
    </form>
  </body>
</html>
