<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Ingredients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Item Ingredients</h1>
    <nav>
        [ <a href="/">HOME</a> |
        <a href="/clients">Clients</a> |
        <a href="/employees">Employees</a> |
        <a href="/assigned_caterers">Assigned Caterers</a> |
        <a href="/events">Events</a> |
        <a href="/menus">Menus</a> |
        <a href="/items">Items</a> |
        <a href="/item_ingredients">Item Ingredients</a> |
        <a href="/ingredients">Ingredients</a> ]
    </nav>

    <!-- Flash Message Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table border="1">
        <thead>
            <tr>
                <th>Item Ingredient ID</th>
                <th>Item ID</th>
                <th>(Item Name)</th>
                <th>Ingredient ID</th>
                <th>(Ingredient Name)</th>
                <th>(Ingredient Unit)</th>
                <th>Ingredient Quantity Required</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.item_ingredient_id }}</td>
                <td>{{ row.item_id }}</td>
                <td>{{ row.item_name }}</td>
                <td>{{ row.ingredient_id }}</td>
                <td>{{ row.ingredient_name }}</td>
                <td>{{ row.unit }}</td>
                <td>{{ row.required_qty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Add New Item Ingredient</h3>
    <form id="item-ingredient-form" method="POST" style="border: 2px solid black;">
        <label>Item ID: 
            <select name="item_id" id="item_id">
                {% for item in items %}
                <option value="{{ item.item_id }}">{{ item.item_id }} - {{ item.item_name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>Ingredient ID: 
            <select name="ingredient_id" id="ingredient_id">
                {% for ingredient in ingredients %}
                <option value="{{ ingredient.ingredient_id }}">{{ ingredient.ingredient_id }} - {{ ingredient.ingredient_name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>Ingredient Quantity Required: <input type="number" step="0.01" name="required_qty" required></label><br>
        <button type="submit">Add Item Ingredient</button><br>
    </form>
  </body>
</html>
